
.text1
{background: linear-gradient(110deg, rgba(255, 0, 0, 0.5)  , rgba(255, 196, 0, 0.5)  ,rgba(0, 255, 0, 0.5)  );
 margin:0 200px ;
 border:solid 3px rgb(0, 0, 0);
 border-radius: 10px;
 height: 180px;
 text-align:center;
 font-size: 120px;
 backdrop-filter: blur(8px);
 font-family: 'Source Sans Pro', sans-serif;
 text-shadow: 2px 2px 3px rgb(0, 0, 0);
 box-shadow: 0 0 10px black;
 color: black;}
.telo 
{    border:solid 3px rgb(0, 0, 0);
     filter:alpha(opacity=300px);;
     border-radius: 10px ;
     margin-left: 200px ; 
     margin-right: 200px ;
     box-shadow: 0 0 10px black;
     backdrop-filter: blur(8px);
     background: rgba(255, 255, 255, 0.5)}
.knopki
     {margin:20px 200px 30px ;
     }  
.knopki a 
    {text-decoration: none;      
}
.knopki a div {
    border-radius: 10px;
    text-align: center;
}
.index 
    {text-decoration:none;}
.text2 h2 
    {text-shadow: 1px 1px 2px rgb(0, 0, 0);
    text-align: center;}    
.text2
    {margin:0 50px 0  50px  ;
    border-radius: 10px;   
    font-size: 30px ; 
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;}
.text21 ul{
    margin: 0px 0 0 150px ;
    width: 330px;}
.text21 li{
 list-style-type: none;
}
span{
    font-weight: bold;
}
h3{
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-weight: bold ;
}
.text21{
    float: right;
    height: 150px;
    margin-top: 20px ;
}
.yellow_mig
   {animation-duration: 400ms;
    animation-name: blink_1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-weight: bold;}
    @keyframes blink_1 {
      0% {
        opacity: 1;
        color: rgb(0, 0, 0);
      }
     0% {
          opacity: 1;
          color: rgb(255, 208, 0);
        }}
.green_mig
    {animation-duration: 400ms;
     animation-name: blink_2;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     font-weight: bold;}
     @keyframes blink_2 {
       0% {
         opacity: 1;
         color: rgb(0, 0, 0);
       }
       0% {
           opacity: 1;
           color: green;
           
         }}
.svet{
    float: left;
    margin: -45px  0px 0 50px;
}
.red {
    color: rgb(175, 0, 0);
    font-weight: bold;
}
.yellow{
    color: rgb(255, 208, 0);
    font-weight: bold;
}
.green{
    color: green;
    font-weight: bold;
}
.knopki a 
 {text-decoration: none;} 
.knopki .neactiv
    {font-family:'Source Sans Pro', sans-serif ;
    float: left;
    background: none;
    border: solid 3px black;
    color: rgb(0, 0, 0);
    height:110px ;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    box-shadow: 0 0 10px black;
    width:20%;
    font-weight:bold;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.5);
    }
.knopki button:not(:last-child) 
    {border-right: none; }
.knopki:after 
    {content: "";
    clear: both;
    display: table;
    }
.knopki .neactiv:hover {
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: inset 0px 0px 10px 1px rgb(0, 0, 0);}
p
    {text-indent: 20px}
html 
    {background-image: url("Images/new-york.jpg");
    background-attachment: fixed;
    background-size: 100% 1000px;
    background-repeat: no-repeat;}
.line1
    {margin: 30px 0;
	padding: 0;
	height: 20px;
	border: none;
	border-top: 3px solid #333;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;} 
.knopki .btn1 button
    {border-radius: 10px 0 0 10px;
    border-right-width:0px;}
.knopki .btn5 button
    {border-radius: 0px 10px 10px 0px;}
.knopki .seredina a button
    {border-right-width:0px;}
.activ 
    {font-family:'Source Sans Pro', sans-serif ;
    float: left;
    background: none;
    border: solid 3px black;
    color: rgb(255, 255, 255);
    height:110px ;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    box-shadow: 0 0 10px black;
    width:20%;
    font-weight:bold;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.5);}
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);;
    z-index: 1001;
    }      
.preloader_image {
    position: relative;
    top: 37%;
    left: 45%;
    width: 255px;
    height: 255px;
    margin-top: -10px;
    margin-left: -32px;
    background: url(Images/Ikonka_VPS.regulations.png) no-repeat 50% 50%; 
    }
.loaded_hiding .preloader {
    transition: 0.5s opacity;
    opacity: 0;
    }
.loaded .preloader {
    display: none;
    }   
.dodatk
    {border-radius: 7px ;
    height: 280px;}
.kartinka1
    {height:362px;
    width:376px ;
    float:left;
    margin: 7px 20px 0;
    border: solid 3px #333;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    background: rgba(236, 236, 236, 0.6);} 
.kartinka1 figcaption 
    {margin:0px 5px 5px 0px;
    width: 376px;
    height: 50px ;
    text-align: center;
    font-weight: bold ;}
.revers
    {border-radius: 7px ;
    height: 100px;}
.kartinka2
    {height:185px;
    width:305px ;
    float:right;
    margin: 7px 20px 0;
    border: solid 3px #333;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    background: rgba(236, 236, 236, 0.6);} 
.kartinka2 figcaption 
    {margin:0px 5px 5px 0px;
    width: 305px;
    height: 50px ;
    text-align: center;
    font-weight: bold ;}
.velo_pesh
    {border-radius: 7px ;
    height: 150px;}
.kartinka3
    {height:270px;
    width:258px ;
    float:left;
    margin: 7px 20px 0;
    border: solid 3px #333;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    background: rgba(236, 236, 236, 0.6);} 
.kartinka3 figcaption 
    {margin:0px 5px 5px 0px;
    width: 258px;
    height: 50px ;
    text-align: center;
    font-weight: bold ;}
.sygnal
    {border-radius: 7px ;
    height: 300px;}
.sygnal5
    {border-radius: 7px ;
    width:509px ;
    height: 307px;
    float: right;}
.sygnal6
    {border-radius: 7px ;
    width:509px ;
    height: 307px;
    }
.sygnal7
    {border-radius: 7px ;
    height: 301px;}
.sygnal8
    {border-radius: 7px ;
    height: 298px;}
.sygnaliy
    {height:355px;
    width:508px ;
    margin: 7px auto 0 auto;
    border: solid 3px #333;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    background: rgba(236, 236, 236, 0.6);} 
.sygnaliy figcaption 
    {margin:0px 5px 5px 0px;
    width: 508px;
    height: 50px ;
    text-align:center;
    font-weight: bold ;}

.data
    {font-style: italic;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37), 0 0 10px rgba(0, 0, 0, 0.37) inset;
    }
.re1{
    list-style-type:"а)";
    margin-left: 350px;
}
.re2{
    list-style-type:"б)";
}
.re3{
    list-style-type:"в)";
}
.regul_2{
    list-style-type: disc;   
}