/*Styles for header*/
html {
   background-image: url("../Images/Street_1850p.jpg");
   background-size: 105%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   scrollbar-color: #6969dd #e0e0e0;
   scrollbar-width: thin;
}

@font-face {
   font-family: 'Montserrat';
   src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}

body {
   margin: 0;
}

/*preloader*/
#preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.5s cubic-bezier(1, 0.24, 0.58, 1);
}

#preloader.loaded {
   opacity: 0;
   transition: all 0.5s cubic-bezier(1, 0.24, 0.58, 1);
}

#preloader.hided {
   display: none;
}

.blur-bg {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   backdrop-filter: blur(50px);
}

.preloader-content {
   position: relative;
}

.preloader-content img {
   display: block;
   margin: 0 auto;
}

/*Text*/
p,
button,
a,
ul {
   text-shadow: 1px 1px 2px rgb(94, 94, 94);
   font-family: 'Montserrat', sans-serif;
   font-weight: 300;
   color: #ffffff;
}

h1,
h2,
h3,
h4 {
   text-shadow: 1px 1px 2px rgb(94, 94, 94);
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   color: #ffffff;
}

.content,
.text_wrap,
.text {
   margin: 0;
}

/*Line*/
.line1 {
   margin: 30px 0;
   padding: 0;
   height: 20px;
   border: none;
   border-top: 2px solid #ffffff;
   box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

/*Header*/
.header {
   background-color: rgba(121, 121, 121, 0.24);
   backdrop-filter: blur(56px);
   color: white;
   display: flex;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 60px;
   z-index: 9998;
   box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.397);
}

/*<div> wrap header content*/
.wrap_content_header {
   align-items: center;
   display: flex;
   margin: 5px;
   justify-content: space-between;
   width: 100%;
}

/*header <h1>*/
.logo {
   font-size: calc(17px + 16*(100vw / 1280));
   margin-left: 5px;
}

@media screen and (min-width: 600px) {
   .logo {
      font-size: 24.48px;
      margin-left: 5px;
   }
}

.logo_a {
   text-decoration: none;
   text-shadow: 1px 1px 2px rgb(94, 94, 94);
   color: white;
   font-weight: 600;
}

.logo_a:hover {
   text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

/*header <ul>*/
.Header_menu {
   display: flex;
   justify-content: space-between;
   list-style: none;
}

.Header_li:nth-child(4) .Header_a {
   border-top: solid 2px white;
   box-shadow: inset 0px 60px 10px -50px rgba(126, 126, 126, 0.63);
   font-weight: bold;
}

/*header <li>*/
.Header_li {
   display: flex;
   align-items: center;
   padding: 0;
   margin-left: 6px;
}

/*header <a>*/
.Header_a {
   border-radius: 2px;
   background-color: rgba(0, 0, 0, 0.466);
   padding: 15px;
   display: block;
   color: white;
   text-decoration: none;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   font-weight: 400;
}

@media screen and (max-width: 1000px) {
   .Header_nav {
      display: none;
   }
}

/*header <a> hower*/
.Header_a:hover {
   background-color: rgb(255, 255, 255);
   color: rgb(255, 0, 0);
   padding-top: 40px;
   transition: all 0.5s cubic-bezier(0.8, -0.04, 0.21, 0.98);
   box-shadow: inset 0px 60px 10px -50px rgba(0, 0, 0, 0.63);
}

/*Styles for sidebar*/
.sidebar {
   z-index: 999;
   position: fixed;
   top: 0;
   right: -250px;
   width: 250px;
   height: 100%;
   background-color: rgba(121, 121, 121, 0.24);
   transition: all 0.5s cubic-bezier(1, 0.24, 0.58, 1);
   backdrop-filter: blur(5px);
}

/*Opened sidebar*/
.open {
   z-index: 999;
   position: fixed;
   top: 0;
   right: 0px;
   width: 250px;
   height: 100%;
   transition: all 0.5s cubic-bezier(1, 0.24, 0.58, 1);
   backdrop-filter: blur(5px);
   box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.397);
}

@media screen and (max-width: 425px) {
   .open {
      width: 100%;
   }
}

@media screen and (min-width: 1001px) {

   .sidebar,
   .open-sidebar {
      display: none;
   }
}

/* Style the open button */
.open-sidebar {
   align-items: center;
   right: 0px;
   top: 0px;
   width: 50px;
   height: 50px;
   background-color: rgba(0, 0, 0, 0.466);
   color: white;
   border: none;
   border-radius: 2px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   cursor: pointer;
   transition: all 0.5s cubic-bezier(1, 0.24, 0.58, 1);
}

/* Style the close button */
.open-sidebar.open_button {
   right: 0px;
   top: 0px;
   width: 50px;
   height: 50px;
   background-color: rgb(255, 255, 255);
   color: rgb(255, 0, 0);
   border: none;
   border-radius: 2px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   cursor: pointer;
   font-weight: bold;
   transition: all 0.5s cubic-bezier(1, 0.24, 0.58, 1);
}

/* Style the navigation menu */
.sidebar_nav {
   margin-top: 80px;
}

/*sidebar <ul>*/
.sidebar_menu {
   list-style: none;
   margin: 0;
   padding: 0;
}

/*sidebar <a>*/
.sidebar_a {
   font-weight: 400;
   display: block;
   padding: 10px;
   color: white;
   text-decoration: none;
   background-color: rgba(0, 0, 0, 0.466);
   transition: all 0.3s cubic-bezier(1, 0.24, 0.58, 1);
}

/* Invert the color of the navigation links on hover */
.sidebar_a:hover {
   box-shadow: inset -60px 0 10px -50px rgba(0, 0, 0, 0.63);
   background-color: rgb(255, 255, 255);
   color: red;
   backdrop-filter: blur(5px);
   font-weight: bold;
   padding: 20px;
   transition: all 0.3s cubic-bezier(1, 0.24, 0.58, 1);
}

.sidebar_li:nth-child(4) .sidebar_a {
   border-left: solid 2px white;
   box-shadow: inset -60px 0 10px -50px rgba(126, 126, 126, 0.63);
   backdrop-filter: blur(5px);
   font-weight: bold;
}

/*Styles for content*/
.content {
   margin: 80px 200px 25px 200px;
   padding: 20px;
   background-color: rgba(121, 121, 121, 0.24);
   backdrop-filter: blur(56px);
   color: white;
   box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.397);
   border-radius: 5px;
   z-index: 9998;
   transition: all 0.3s cubic-bezier(1, 0.24, 0.58, 1);
}


@media screen and (max-width: 1024px) {
   .content {
      margin: 80px 120px 25px 120px;
      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
   }
}

@media screen and (max-width: 627px) {
   .content {
      margin: 80px 30px 25px 30px;
      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
   }
}

/*sections of content*/

.section-wrap {
   display: flex;
   align-items: center;
   margin-bottom: 35px;
   width: 100%;
   text-align: left;
}

.section-text {
   width: 100%;
}
/*section h*/
.section-h4{
   margin-bottom: 0;
}
/*signals of traffic light*/
.trafficlight_signals {
   list-style: none;
   margin-left: -30px;
}

.trafficlight_signals li {
   display: flex;
   margin-bottom: 10px;
   align-items: flex-start;
   border-radius: 3px;
   box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.397);
}

.trafficlight_signals li p {
   margin-right: 15px;
}

.trafficlight_signals li:nth-child(1),
.trafficlight_signals li:nth-child(2) {
   background-color: rgba(255, 0, 0, 0.123);
}

.trafficlight_signals li:nth-child(3),
.trafficlight_signals li:nth-child(4) {
   background-color: rgba(255, 208, 0, 0.123);
}

.trafficlight_signals li:nth-child(5),
.trafficlight_signals li:nth-child(6) {
   background-color: rgba(0, 255, 42, 0.123);
}

/*turn signal position*/
.turn-signal-position, .sanctions {
   list-style: none;
   display: flex;
   flex-direction: column;
}

@media screen and (max-width: 425px) {
   .turn-signal-position, .sanctions {
      margin-left: -30px;
   }
}
.turn-signal-position li,  .sanctions li{
   display: flex;
   flex-direction: column;
}

.section-text p {
   text-align: justify;
}

/*important text*/
strong {
   font-weight: 500;
   background: none;
   color: #ffffff;
}

.red {
   color: red;
   font-weight: bold;
}

.yellow {
   color: yellow;
   font-weight: bold;
}

.green {
   color: lawngreen;
   font-weight: bold;
}

.yellow_blink {
   animation-duration: 400ms;
   animation-name: blink_1;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   font-weight: bold;
}

@keyframes blink_1 {
   0% {
      opacity: 1;
      color: black;
   }

   0% {
      opacity: 1;
      color: yellow;
   }
}

.green_blink {
   animation-duration: 400ms;
   animation-name: blink_2;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   font-weight: bold;
}

@keyframes blink_2 {
   0% {
      opacity: 1;
      color: black;
   }

   0% {
      opacity: 1;
      color: lawngreen;
   }
}

/*trafficlight_signals images*/
.image1 {
   width: 55px;
   height: auto;
   margin-right: 15px;
   border-radius: 3px;
}

/*Images in content*/
.content-image {
   width: 25vw;
   max-width: 300px;
   border-radius: 3px;
   box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.397);
}

.content-image2 {
   width: 500px;
   max-width: 100%;
   border-radius: 3px;
   margin-right: 25px;
}

.icon-conteiner {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.img-conteiner-left {
   float: left;
   margin-right: 25px;
   margin-bottom: 5px;
   padding: 0;
}

.img-conteiner-right {
   float: right;
   margin-left: 25px;
   margin-bottom: 5px;
}

.img-conteiner {
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   margin-bottom: 45px;
   border-radius: 3px;
}

/*For beautiful background*/
.content-image-wrap {
   background-color: #0000002f;
   border-radius: 3px;
   padding: 0 0 5px 0;
   margin: 0;
   
}
.img-conteiner-wrap{
   display: flex;
   justify-content:space-around;
}
@media screen and (max-width: 1480px){
   .img-conteiner-wrap{
      flex-direction: column;
   }
}
@media screen and (min-width: 820px) {
   .content-image-wrap {
      width: 500px;
   }
}

@media screen and (max-width: 628px) {
   .content-image {
      width: 100%;
      max-width: 100%;
   }

   .img-conteiner-left {
      margin: 0 0 15px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-direction: column;
   }

   .img-conteiner-right {
      margin: 0 0 15px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-direction: column;
   }
}

.content-image-description {
   text-shadow: 1px 1px 2px rgb(94, 94, 94);
   font-family: 'Montserrat', sans-serif;
   font-size: calc(3px + 16*(100vw / 1280));
   text-align: center;
   margin-top: 5px;
   width: 25vw;
   font-weight: 200;
}

.content-image2-description {
   text-shadow: 1px 1px 2px rgb(94, 94, 94);
   font-family: 'Montserrat', sans-serif;
   font-size: 25px;
   text-align: center;
   margin-top: 5px;
   width: 100%;
   font-weight: 200;
}

@media screen and (max-width: 628px) {
   .content-image-description, .content-image2-description {
      font-size: calc(10px + 16*(100vw / 1280));
      
   }
}

@media screen and (min-width: 1240px) {
   .content-image-description {
      font-size: 18px;
      width: 300px;
   }
}

@media screen and (max-width: 628px) {
   h3 {
      text-align: center;
   }
}

/*Styles for footer*/
.footer_wrap {
   background-color: rgba(121, 121, 121, 0.24);
   backdrop-filter: blur(56px);
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
   bottom: 0;
   left: 0;
   height: 60px;
   z-index: 9998;
   box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.397);
}

/*styles for scrollbar*/
::-webkit-scrollbar {
   width: 12px;
}

::-webkit-scrollbar-track {
   background-color: rgba(121, 121, 121, 0);
   backdrop-filter: blur(5px);
   border-radius: 30px;
}

::-webkit-scrollbar-thumb {
   border-radius: 30px;
   background-color: #929292;
}